<div class="d-flex flex-row-reverse font-helvetica">
    <div class="d-flex justify-content-center align-items-center w-100">
      {% if not current_user.is_authenticated %}
      <a href="/signup" class="btn btn-warning mx-5">Sign Up</a>
      <a href="/login" class="btn btn-warning mx-5">Log In</a>
      {% else %}
      <a href="/logout" class="btn btn-warning mx-5">Log Out</a>
      {% endif %}
    </div>
</div>
<nav class="py-2 navbar navbar-light mb-3">
    <div class="d-flex justify-content-center align-items-center w-100">
      <a class="btn btn-outline-success navbar-brand mx-5" href="/">Home</a>
      <a class="btn btn-outline-success navbar-brand mx-5" href="/create_entry">Create An Entry</a>
      <a class="btn btn-outline-success navbar-brand mx-5" href="/create_list">Create A List</a>
      <a class="btn btn-outline-success navbar-brand mx-5" href="/create_film">Create A Film</a>      
</div>
</nav>