{% extends 'base.html' %}
{% block content %}

<h1 class="title">Film Journal</h1>
<ul>
{% for film in all_films %}
    <li><a href="/film/{{ film.id }}">{{ film.title }}</a> by {{ film.list.name }}</li>
{% endfor %}
</ul>

<h3 class="text-center">Not Sure What to Watch?</h3>
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active disabled">Letterboxd Lists:</a>
    <a href="https://letterboxd.com/joshypoo74/list/a24-complete-filmography/" class="list-group-item list-group-item-action">a24 Complete Filmography</a>
    <a href="https://letterboxd.com/ellefnning/list/for-when-you-want-to-feel-something/" class="list-group-item list-group-item-action">For When You Want to Feel Something</a>
    <a href="https://letterboxd.com/ventunopiloti/list/comfort-movies/" class="list-group-item list-group-item-action">Comfort Movies</a>
    <a href="https://letterboxd.com/lifeasfiction/list/letterboxd-100-animation/" class="list-group-item list-group-item-action">Animation</a>
    <a href="https://letterboxd.com/yaanu/list/a-complete-list-of-disneys-theatrical-and/" class="list-group-item list-group-item-action">Disney</a>
    <a href="https://letterboxd.com/arinb97/list/mcu/" class="list-group-item list-group-item-action">Marvel Cinematic Universe</a>
    <a href="https://letterboxd.com/joshuapeinado/list/a-beginners-guide-to-global-cinema/" class="list-group-item list-group-item-action">A Beginners Guide to Global Cinema</a>
    <a href="https://letterboxd.com/adam_davie/list/black-life-on-film/" class="list-group-item list-group-item-action">Black Life on Film</a>
    <a href="https://letterboxd.com/crew/list/100-most-obsessively-rewatched-love-stories/" class="list-group-item list-group-item-action">100 Most Obsessively Rewatched Love Stories</a>
    <a href="https://letterboxd.com/annabetth/list/the-great-cinema-latino-still-editing/" class="list-group-item list-group-item-action">Cinema Latino</a>
    <a href="https://letterboxd.com/etolkin/list/filmlist:28697007/" class="list-group-item list-group-item-action">Visually Insane</a>
    <a href="https://letterboxd.com/tediously_brief/list/what-is-reality/" class="list-group-item list-group-item-action">What is Reality?</a>
    <a href="https://letterboxd.com/gabrielgodard/list/asian-cinema-1/" class="list-group-item list-group-item-action">Asian Cinema</a>
    <a href="https://letterboxd.com/comrade_yui/list/neo-expressionism-the-forgotten-studio-style/" class="list-group-item list-group-item-action">Neo-Expressonism</a>
    <a href="https://letterboxd.com/kun/list/befriending-the-lyrical-loneliness/" class="list-group-item list-group-item-action">Befriending the Lyrical Loneliness</a>
    <a href="https://letterboxd.com/marialuisacctc/list/women-have-superior-taste-that-is-why-these/" class="list-group-item list-group-item-action">Masterpieces Called Chick Flicks</a>
    <a href="https://letterboxd.com/peterstanley/list/1001-movies-you-must-see-before-you-die/" class="list-group-item list-group-item-action">1001 Movies You Must See Before You Die</a>
    <a href="https://letterboxd.com/michaelhaneke/list/films-directed-by-women/" class="list-group-item list-group-item-action">Films Directed By Women</a>
    <a href="https://letterboxd.com/crew/list/2023-oscars-all-nominated-films/" class="list-group-item list-group-item-action">2023 Oscars - All Nominated Films</a>
    <a href="https://letterboxd.com/bfi/list/sight-and-sounds-greatest-films-of-all-time/" class="list-group-item list-group-item-action">Sight & Sound's Greatest Films of All Time</a>
    <a href="https://letterboxd.com/aleheez/list/shrek-ranked/" class="list-group-item list-group-item-action">Shrek Ranked</a>
</div>


<div>
<h2>Films Logged:</h2>
<h2>Users:</h2>
</div>

<ul>
    {% for user in all_users %}
        <li><a href="/profile/{{ user.username }}">{{ user.username }}</a></li>
    {% endfor %}
</ul>



{% endblock %}